<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>WeibeiTC-Bold.otf</string>
		<string>Baoli.ttc</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TianganDizhi needs to have your permission of getting your current location to be able to show yoru local moon phase information on the Widgets.</string>
</dict>
</plist>
